<!DOCTYPE html>
<html>
<head>
    <title>Secret Notes Vault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="navbar">
    <h2>🔐 Secret Notes Vault</h2>
    <nav>
        {% if session.get('username') %}
            <span>Hi, {{ session['username'] }}</span>
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('main.add_note_view') }}">Add Note</a>
            <a href="{{ url_for('main.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('main.login') }}">Login</a>
            <a class="btn" href="{{ url_for('main.register') }}">Register</a>
        {% endif %}
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
